body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    width: 100%;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    background-color: transparent;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    font-weight: 300;
}

header nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    transform: scale(1.1);
}

#experience {
    padding: 100px 20px;
    text-align: center;
}

#experience h1 {
    font-size: 2.5em;
    margin-bottom: 50px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .text {
    width: 40%;
    font-size: 1.2em;
}

.skill-bars {
    width: 50%;
}

.skill-bar {
    margin-bottom: 20px;
}

.skill-bar .info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.skill-bar .progress-line {
    height: 15px;
    background-color: #2f2f2f;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    animation: animateBar 2s ease-in-out;
}

.skill-bar .progress-line span {
    display: block;
    height: 100%;
    border-radius: 10px;
    background-color: #00aced;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    animation: animateProgress 2s ease-in-out forwards;
}

.skill-bar .progress-line.html span {
    width: 90%;
}

.skill-bar .progress-line.css span {
    width: 85%;
}

.skill-bar .progress-line.javascript span {
    width: 80%;
}

.skill-bar .progress-line.documentation span {
    width: 97%;
}

.skill-bar .progress-line.diagrams span {
    width: 95%;
}

@keyframes animateBar {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes animateProgress {
    0% {
        width: 0;
    }
    100% {
        width: inherit;
    }
}

/* Estilos Responsive */
@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin-bottom: 10px;
    }

    .container {
        flex-direction: column;
        text-align: center;
    }

    .container .text {
        margin-bottom: 20px;
        width: 100%;
    }

    .skill-bars {
        width: 100%;
    }

    .skill-bar {
        width: 100%;
        margin-bottom: 15px;
    }
}
