body {
    font-family: 'Comfortaa', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    width: 100%;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    background-color: transparent;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    font-weight: 300;
}

header nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    transform: scale(1.1);
}

#cover {
    position: relative;
    text-align: center;
    margin: 0;
    overflow: hidden;
    min-height: 100vh;
    background: url('img/1.jpg') no-repeat center center fixed;
    background-size: cover;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: normal; /* Alinear la imagen al inicio, es decir, arriba */
    justify-content: flex-start; /* Mantenerla a la izquierda */
    padding-left: 20px; /* Ajustar espacio desde la izquierda */
}

.background-overlay img {
    max-width: 30%;
    height: auto;
    object-fit: contain;
    object-position: left;
    transition: transform 0.3s;
    margin-top: 20px; /* Agregar margen superior para bajar la imagen */
}


.cover-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    text-align: center;
    padding-right: 5px;
}

#cover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.animated-text {
    animation: fadeInUp 2s ease-in-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.cover-text {
    color: #fff;
    font-size: 3em;
    text-align: center;
    font-weight: 300;
    white-space: nowrap;
    transition: transform 0.3s, color 0.3s;
    font-family: 'Comfortaa', sans-serif;
}

.cover-text-container:hover .cover-text {
    transform: translateY(-20px);
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hover-text {
    display: none;
    color: #fff;
    font-size: 2.5em;
    margin-top: 20px;
    max-width: 600px;
    opacity: 0;
    transition: opacity 2s ease-in-out, transform 0.3s;
    transform: translateY(20px);
}

.cover-text-container:hover .hover-text {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

footer {
    margin-top: auto;
    padding: 10px 0;
    background-color: #111111;
    color: #fff;
    text-align: center;
}

.footer-icons {
    margin-top: 10px;
}

.footer-icons a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

.footer-icons a:hover {
    color: #00aced;
}

/* Estilos Responsive */
@media (max-width: 768px) {
    header nav ul {
        flex-direction: row;  /* Cambiado a "row" para mantener una fila */
        justify-content: center; /* Centrar los elementos en dispositivos móviles */
        gap: 5px; /* Reducir el espacio entre los enlaces en pantallas pequeñas */
    }

    header nav ul li {
        margin-bottom: 0;  /* No dejar espacio debajo de los elementos del menú */
    }

    header {
        padding: 10px 0;
    }

    .cover-text {
        font-size: 2em;
    }

    .hover-text {
        font-size: 1.5em;
    }

    .background-overlay img {
        object-fit: cover;
        max-width: 100%;
        height: auto;
    }

    .cover-text-container {
        padding-right: 0;
    }
    
    /* Ajustar el tamaño de la imagen para pantallas más pequeñas */
    .background-overlay img {
        max-width: 80%;
        margin-top: 10px;
        height: auto;
        object-position: top;
    }

    /* Ajustar el footer en móviles */
    footer {
        position: relative;
        bottom: 0;
        width: 100%;
        padding: 15px 0;
    }
}
